<div class="w-screen h-screen flex items-center justify-center">
  <form class="formForget" [formGroup]="forgetForm" (ngSubmit)="sendFormForget()">
    <div class="max-w-lg w-full h-auto p-8 bg-white rounded-2xl shadow border-2 border-gray-300 flex flex-col justify-start items-center gap-8 mx-auto md:p-12 md:max-w-md lg:max-w-lg">
      <div class="w-full flex flex-col justify-start items-center gap-2">
        <div class="w-full flex flex-col justify-start items-start  gap-6">
          <div class="w-full flex flex-col justify-start items-center gap-6">
            <p class="text-center">Veuillez entrer un nouveau mot de passe.</p>
            <div class="relative w-full">
              <input type="password" required formControlName="password" name="password" placeholder="•••••••••••••" class="w-full h-12 bg-white rounded-lg shadow border border-gray-300 px-4 py-2 text-sm text-gray-700"/>
              <div class="absolute top-[-0.5rem] left-3 bg-white px-1 text-xs font-semibold text-gray-900">password <span class="text-red-500">*</span></div>
            </div>
            <div class="relative w-full">
              <input type="password" required formControlName="confirmPassword" name="password" placeholder="•••••••••••••" class="w-full h-12 bg-white rounded-lg shadow border border-gray-300 px-4 py-2 text-sm text-gray-700"/>
              <div class="absolute top-[-0.5rem] left-3 bg-white px-1 text-xs font-semibold text-gray-900">confirm password <span class="text-red-500">*</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full h-12 px-6 py-3 bg-[#e12828] rounded-lg flex justify-center items-center cursor-pointer animeButton">
        <button class="text-center text-white text-lg font-semibold font-['Inter'] leading-7">Envoyer</button>
      </div>
    </div>
    <p  class="text-red-600">{{ errorMsg }}</p>
  </form>
</div>


