<div class="w-full border-t border-gray-400 flex gap-5 flex-col pt-5 pb-5">
  <div class="w-full flex flex-row justify-center gap-4">
    <a class="text-gray-500 tex-xs cursor-pointer">Accueil</a>
    <a class="text-gray-500 tex-xs cursor-pointer">Catalogue</a>
    <a class="text-gray-500 tex-xs cursor-pointer">Promotions</a>
    <a class="text-gray-500 tex-xs cursor-pointer" href="/cgu">CGU</a>
  </div>
  <div class="w-full flex flex-row justify-center gap-4">
    <img  src="../../../assets/insta.svg">
    <img src="../../../assets/facebook.svg">
    <img src="../../../assets/github.svg">
    <img src="../../../assets/mail.svg">
  </div>
</div>
