<div role="status" class="p-4 max-w-sm animate-pulse flex flex-col  w-[20vw] bg-gray-50 rounded-xl border-gray-200 border">
  <div class="bg-gray-100 rounded-md dark:bg-gray-400 w-full h-48"></div>
  <div class="mt-2 flex flex-col gap-2">
    <div class="bg-gray-100 rounded-md dark:bg-gray-400 w-full h-14"></div>
    <div class="bg-gray-100 rounded-md dark:bg-gray-400 w-full h-6 mt-2"></div>
  </div>
  <div class="bg-gray-100 rounded-md dark:bg-gray-400 w-3/12 h-10 mt-2"></div>
  <div class="mt-2 flex gap-x-4">
    <div class="bg-gray-100 rounded-lg  dark:bg-gray-400 w-4/12 h-10 mt-2"></div>
    <div class="bg-gray-100 rounded-lg  dark:bg-gray-400 w-4/12 h-10 mt-2"></div>
  </div>

</div>



