
<div class="flex justify-center flex-col items-center pb-14">
<app-les2block class="w-11/12"/>
  <div class="w-11/12">
    <h1 class="text-2xl mt-[3%]">Ordinateur de bureau</h1>
    <app-carroussel-accueil [categoryId]= 1 />
    <h1 class="text-2xl mt-[3%]">Ordinateur portable</h1>
    <app-carroussel-accueil [categoryId]= 2 />
    <h1 class="text-2xl mt-[3%]">Carte Graphique</h1>
    <app-carroussel-accueil [categoryId]= 7 />
    <h1 class="text-2xl mt-[3%]">Ecran</h1>
    <app-carroussel-accueil [categoryId]= 3 />
    <h1 class="text-2xl mt-[3%]">Ram</h1>
    <app-carroussel-accueil [categoryId]= 9 />
  </div>

</div>
