<div class="flex flex-row justify-center gap-10 w-full mt-10 relative">
  <div class="w-6/12 flex flex-col gap-8">
    <div class="animate-pulse bg-gray-300 h-10 w-3/4 rounded-md"></div>
    <div class="animate-pulse bg-gray-300 h-6 w-full rounded-md"></div>
    <hr />
    <div class="flex flex-col gap-4">
      <div class="flex flex-row items-center gap-x-4 text-gray-600 text-xl">
        <div class="animate-pulse bg-gray-300 h-6 w-16 rounded-md"></div>
        <div class="animate-pulse bg-gray-300 h-6 w-20 rounded-md"></div>
        <div class="flex gap-x-4 items-center">
          <div class="animate-pulse bg-gray-300 h-4 w-16 rounded-md"></div>
          <div class="animate-pulse bg-red-300 h-6 w-12 rounded-md"></div>
        </div>
      </div>
      <hr />
      <div class="flex flex-row gap-x-4">
        <div class="animate-pulse bg-gray-300 h-8 w-24 rounded-md"></div>
        <div class="animate-pulse bg-gray-300 h-8 w-32 rounded-md"></div>
      </div>
      <br />
      <div class="w-full flex flex-row gap-2 items-center">
        <div class="animate-pulse bg-gray-300 h-4 w-20 rounded-md"></div>
        <div class="animate-pulse bg-gray-300 w-5 h-5 rounded-full"></div>
      </div>
      <div class="flex flex-row items-center gap-2">
        <div class="animate-pulse bg-gray-300 h-4 w-16 rounded-md"></div>
        <div class="animate-pulse bg-gray-300 w-6 h-6 rounded-full border"></div>
        <div class="animate-pulse bg-gray-300 w-4 h-4 rounded-full"></div>
      </div>
      <div class="animate-pulse bg-gray-300 h-6 w-36 rounded-md mb-2"></div>
      <table class="min-w-full bg-white">
        <thead>
        <tr>
          <th class="animate-pulse bg-gray-200 h-6 w-24 rounded-md"></th>
          <th class="animate-pulse bg-gray-200 h-6 w-24 rounded-md"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="border-b border-gray-200">
          <td class="animate-pulse bg-gray-300 h-4 w-24 rounded-md"></td>
          <td class="animate-pulse bg-gray-300 h-4 w-24 rounded-md"></td>
        </tr>
        </tbody>
      </table>
      <div class="animate-pulse bg-gray-300 h-6 w-24 rounded-md mt-2"></div>
      <br />
    </div>
  </div>
  <div class="w-6/12 heightVH justify-end flex flex-row items-start gap-4">
    <div class="animate-pulse bg-gray-300 w-10/12 h-[45vh] rounded-b-sm"></div>
    <div class="w-1/12 gap-4 h-full flex flex-col">
      <div class="animate-pulse bg-gray-300 w-full h-[6vh] rounded-md"></div>
    </div>
  </div>
</div>
<div class="w-full mt-10">
  <div class="animate-pulse bg-gray-300 h-8 w-64 rounded-md mb-4"></div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div class="animate-pulse bg-gray-300 h-40 w-full rounded-md"></div>
  </div>
</div>
