<div class="container mx-auto p-6 rounded-md h-screen bg-gray-100">
  <div class="cont mb-6">
    <button class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 mb-4" (click)="goBack()">Back profile</button>
    <h2 class="text-2xl font-semibold">Order by {{ name }}</h2>
    <p class="text-gray-600">{{ email }}</p>
  </div>

  <div class="space-y-4">
    <!-- Card 1 -->
    <div class="max-w-5xl mx-auto bg-white shadow-md rounded-md p-4 flex items-center space-x-4 h-44">
      <div class="flex-shrink-0">
        <img src="https://asset.msi.com/resize/image/global/product/product_1668062791d5e83a0a428d9b516392bbf97b12a90e.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png" alt="Product Image" class="h-24 w-24 object-cover rounded-md">
      </div>
      <div class="flex-grow">
        <h3 class="text-xl font-semibold">RTX 4080 - 16GB GDDR6x - GAMING x SLIM</h3>
        <div class="mt-2 text-gray-600">qty: 1</div>
        <div class="mt-1">
          <a href="#" class="text-blue-500 hover:underline">See product</a>
          <span class="mx-2 text-gray-500">|</span>
          <a href="#" class="text-blue-500 hover:underline">Delivery</a>
        </div>
      </div>
      <div class="text-xl font-semibold text-gray-900">
        1199,99€
      </div>
    </div>

    <!-- Card 2 -->
    <div class="max-w-5xl mx-auto bg-white shadow-md rounded-md p-4 flex items-center space-x-4 h-44">
      <div class="flex-shrink-0">
        <img src="https://asset.msi.com/resize/image/global/product/product_1668062791d5e83a0a428d9b516392bbf97b12a90e.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png" alt="Product Image" class="h-24 w-24 object-cover rounded-md">
      </div>
      <div class="flex-grow">
        <h3 class="text-xl font-semibold">RTX 4080 - 16GB GDDR6x - GAMING x SLIM</h3>
        <div class="mt-2 text-gray-600">qty: 1</div>
        <div class="mt-1">
          <a href="#" class="text-blue-500 hover:underline">See product</a>
          <span class="mx-2 text-gray-500">|</span>
          <a href="#" class="text-blue-500 hover:underline">Delivery</a>
        </div>
      </div>
      <div class="text-xl font-semibold text-gray-900">
        1199,99€
      </div>
    </div>

    <!-- Card 3 -->
    <div class="max-w-5xl
     mx-auto bg-white shadow-md rounded-md p-4 flex items-center space-x-4 h-44">
      <div class="flex-shrink-0">
        <img src="https://asset.msi.com/resize/image/global/product/product_1668062791d5e83a0a428d9b516392bbf97b12a90e.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png" alt="Product Image" class="h-24 w-24 object-cover rounded-md">
      </div>
      <div class="flex-grow">
        <h3 class="text-xl font-semibold">RTX 4080 - 16GB GDDR6x - GAMING x SLIM</h3>
        <div class="mt-2 text-gray-600">qty: 1</div>
        <div class="mt-1">
          <a href="#" class="text-blue-500 hover:underline">See product</a>
          <span class="mx-2 text-gray-500">|</span>
          <a href="#" class="text-blue-500 hover:underline">Delivery</a>
        </div>
      </div>
      <div class="text-xl font-semibold text-gray-900">
        1199,99€
      </div>
    </div>
  </div>
</div>
